[submodule "cmake"]
	path = cmake
	url = https://github.com/biojppm/libyaml
[submodule "libyaml"]
	path = extern/libyaml
	url = https://github.com/yaml/libyaml
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/yaml-cpp"]
	path = extern/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
